<% include partials/header %>

  <div class='landing-wrapper'>
    <h1 class='latest-text'>Latest Blog Posts</h1>
    <% blogs.forEach(function(blog) { %>
      <div class='landing-posts-container'>
        <img class='blog-img' src="<%= blog.image %>">
        <div class="blog-text-wrapper">
          <h2 class='blog-title'><%= blog.title %></h2>
          <div class="blog-body-container">
            <p class='blog-body'><%= blog.body.substring(0, 200) %>... <a class='read-more' href="/blogs/<%= blog._id %>">Read More</a></p>
          </div>
          <div class="author-container">
            <div class='author-img'></div>
            <p class='blog-author'>Oliver De La Via</p>
          </div>
          <div class="dateNread">
            <span class='blog-created'><%= blog.created %></span>
            <p class="read-time">5 min read</p>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

<% include partials/footer %>