<% include partials/header %>

<div>
  <div><%= blog.title %></div>
  <img src="<%= blog.image %>">
  <span><%= blog.created %></span>
  <p><%= blog.body %></p>
</div>
<a class="btn" href="/blogs/<%= blog._id %>/edit">Edit</a>
<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>

<% include partials/footer %>